$def with (form, text)

<!doctype html>

<html>

    <head>
        <title>CookWithMe</title>
        <link rel="stylesheet" type="text/css" href="/static/tutorial.css" />
		<h1>CookWithMe</h1>
		<table><tr>
			<td><img src="/static/female-chef.jpg" alt="Chef" style="width:304px;height:228px"/></td>
			<td><h2>Hello, my name is Chef !</h2>
			<div id="foo1"><h4>Recipes I know are:<br/><br/>
			1. Grilled Cheese<br/>
			2. Roasted Chicken<br/>
			3. Roasted Vegetables<br/>
			4. Brownies<br/>
			5. Loaf Cake<br/>
			</h4></div></td>
		</tr></table>
		
		<script type="text/javascript" src="/static/jquery.min.js"></script>

        
        <script type="text/javascript">
				function speak(speech) {
						var msg = new SpeechSynthesisUtterance(speech);
				 		//msg.voice = speechSynthesis.getVoices().filter(function(voice) { return voice.name == 'Whisper'; })[0];
						speechSynthesis.speak(msg);
					}
								var final_transcript = '';
								var recognizing = false;
								var language = 'en-US';  // change this to your language
								
                                jQuery(document).ready(function() {
									if (!('webkitSpeechRecognition' in window)) {
										alert("Your Browser does not support the Speech API");

									}
									 else {
									// Create the recognition object and define four event handlers (onstart, onerror, onend, onresult)
									var recognition = new webkitSpeechRecognition();
									recognition.continuous = true;         // keep processing input until stopped
									recognition.interimResults = true;     // show interim results
									recognition.lang = language;           // specify the language

									recognition.onstart = function() {
										recognizing = true;
										jQuery('#start_button').html('Click to Stop');
									};
									
									recognition.onend = function() {
									}
									
									recognition.onresult = function(event) {
									var interim_transcript = '';

									// Assemble the transcript from the array of results
									for (var i = event.resultIndex; i < event.results.length; ++i) {
										if (event.results[i].isFinal) {
											final_transcript += event.results[i][0].transcript;
										} else {
											interim_transcript += event.results[i][0].transcript;
										}
									}
									
									if(final_transcript.length > 0) {
										jQuery.ajax({
													type: "POST",
													data: {textfield : final_transcript},
													success: function(data) {
													if(data != '')
														speak(data);
													jQuery('#foo').html(data).hide().fadeIn(1500);
													},
													});													
										final_transcript = '';
										interim_transcript = '';
										return;

										
									}
								}
									
								 jQuery("#start_button").click(function(e) {
										e.preventDefault();
										
										if (recognizing) {
											recognition.stop();
											jQuery('#start_button').html('Click to Start Again');
											recognizing = false;
										} else {
											final_transcript = '';

											// Request access to the User's microphone and Start recognizing voice input
											recognition.start();
										}
									});	
								}
							});
        
                        </script>
    </head>
    
    <body>
        <br>
        <form class="form" method="post"> 
        $:form.render()
        <button id="start_button">Click to Start</button>   
        </form>

        <br><br>
        <span id="foo">$text</span>     
    </body>
    
</html>
